<section class="column align-center coo-output">
  {{#each coos}}
    <div class="coo">
      <h3 class="text-center">{{text}}</h3>
      <div class="row justified-between">
        <p>{{date}}</p>
        <p>By: {{author.email}}</p>
      </div>
    </div>
  {{/each}}
</section>
