<section class="column align-center login-form">
  <form action="/auth/login" method="POST">
    <h1>Log In</h1>

    {{#each errors}}
      <p class="error text-center">{{this}}</p>
    {{/each}}

    <input
      type="text"
      name="user_name"
      placeholder="Please enter a username"
    />
    <input
      type="password"
      name="password"
      placeholder="Please enter your password"
    />
    <button>Submit</button>
  </form>
  <a href="/register">Sign Up</a>
</section>
