<form action="/auth/register" method="POST">
  <h1>Please sign up!</h1>

  {{#each errors}}
    <p class="error text-center">{{this}}</p>
  {{/each}}

  <input
    type="text"
    name="user_name"
    placeholder="Create a username"
  />
  <input
    type="password"
    name="password"
    placeholder="Create a password"
  />
  <button>Submit</button>
</form>