:root {
  --primary-color: #FFE2FE;
  --secondary-color: #160C28;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: var(--primary-color);
  height: 100vh;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.row, .column {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

header {
  background: var(--secondary-color);
  color: #fff;
  color: var(--primary-color);
  padding: 2rem 3rem;
  margin-bottom: 4rem;
}

header nav p,a {
  font-size: 1.2rem;
}

header nav span {
  font-size: 1.1rem
}

header nav > *:not(:last-child) {
  margin-right: .5rem;
}

form {
  width: 380px;
  display: flex;
  flex-direction: column;
  margin: 35px auto 0;
}

form h1 {
  text-align: center;
}

form p.error {
  color: red;
}

form > * {
  padding: .5rem .75rem;
  margin: .3rem 0;
}

.blog {
  width: 80%;
  height: 200px;
  border: solid var(--secondary-color);
  margin-bottom: .5rem;
}

.blog header {
  padding: 1rem .5rem;
  margin-bottom: .5rem;
}

.blog h1 {
  font-size: 1.5rem;
}

.blog header a {
  color: var(--primary-color);
}

.blog a:hover {
  text-decoration: none;
}

.posted-by > *:not(:last-child) {
  margin-right: .3rem;
}

.new-post-btn {
  margin-top: 1rem;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
  background: var(--secondary-color);
  color: var(--primary-color);
}

.blog-form {
  width: 80%;
  height: 75%;
  border: solid var(--secondary-color);
}

.blog-form h1 {
  text-align: left;
  font-size: 1.5rem;
}

.blog-form p {
  font-size: 1.2rem;
  margin: 0 .5rem;
}

.blog-form textarea, button, input {
  margin: .5rem .5rem;
  padding-bottom: .5rem;
}

.blog-header {
  font-size: 2rem;
  margin-top: 0;
}

.title-input {
  height: 2.5rem;
}

.blog-input {
  height: 10rem;
}

.blog-text {
  text-align: left;
  color: var(--secondary-color);
  padding: 0 .5rem;
}

.create-btn {
  border-radius: 10px;
  font-size: 1.5rem;
}

.login-form a {
  margin-top: 1rem;
  color: var(--secondary-color);
  padding-bottom: .1rem;
  border-bottom: solid var(--secondary-color);
}

.login-form a:hover {
  text-decoration: none;
}

.comment-form {
  width: 80%;
  margin: .5rem 0;
  border: solid var(--secondary-color);
}

.comment-header {
  margin-top: 0;
  height: 4rem;
}

.comment-form textarea {
  margin: 1rem;
  padding: 20px;
}

.comment-form button {
  margin: 1rem;
}

.comment p {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.delete-btn {
  border-radius: 10px;
  font-size: 1.5rem;
}

.padding {
  padding: 0 .5rem;
}

